#header {
    position: relative;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header-text{
    display: flex;
    flex-direction: column;
    position: relative;
}
.header-text h1{
    font-weight: 700;
    font-size: 4rem;
    color: whitesmoke;
}
div span {
    color:white;
    font-size: 3rem;
    font-weight: 100;
}
.header-text p{
   margin-top: 20px;
   color: white;
}
.header-cta{
    margin-top: 20px;
}
.header-right img {
    width:90%;
}
.floating-icon {
    background: var(--light-blue);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.floating-icon:hover {
 cursor: pointer;
}

.mouse {
    position: absolute;
    /* left: 50%; */
    /* right: 50%; */
    transform: translateX(-50%);
    animation: bounce .8s ease infinite alternate;
}
.header-img{
    border-radius:100%; 
        width:300px; 
        height:300px;
}

@keyframes bounce {
    0%{
        transform: translateY(-25%);
    }
    100%{
        transform: translateY(25%);
    }
}

@media screen and (max-width:479px){
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #header{
        
    }
    .header-img{
        border-radius:100%; 
        width:200px; 
        height:200px;
    }
}
@media screen and (max-width:769px){
    #header {
     
    }
    
    .header h1 {
        font-size: 2rem;
    }
    .header span {
        font-size: 1.5rem;
    }
   
}
@media  screen and (max-width:600px) {
    .header{
        flex-direction: column;
        gap: 5rem;
        justify-content: center;
        align-items: center;
    }
    .header-right{
     width: 100%;
     position: relative;
     left:100px;
     right: 0;
    }
.header-right img {
    width: 50%;

}
}