#footer{
    background: var(--dark-blue);
    text-align: center;
    padding: 2rem;
}
.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-box{
    margin-top: 3.5rem;
}
.footer-box h2{
    color: var(--color-white);
    border-bottom: 2px solid var(--color-white);
    width: 40%;
    text-align: left;
}
.footer-link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1rem;
    
}
.footer-link a{
    color: var(--color-white);
    text-align: left;
}
.footer-link span{
    font-size: 15px;
    font-weight: 300;
}

@media screen and (max-width:479px){
    #footer{
        background: var(--dark-blue);
        text-align: center;
        background-color: red;
    }
    .footer-link a{
        color: var(--color-white);
        text-align: left;
        font-size: 10px;
    }
}