#learnings{
    text-align: center;
}
.learning{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.program{
    font-weight: bold;
    font-size: 15px;
    color: orange;
}
.link{
    color: black;
    font-size: 10px;
    font-weight: 600;
}
@media screen and (max-width:479px){
    .learning{
        display: flex;
        flex-direction: column;
        justify-content: center;
        column-gap: 20px;
    }
}